@layout('base/base')
@section('title')
<title>Pesta Soda - {{ error.status }} {{ message }}</title>
@endsection

@section('main')
<div id="notfound">
    <div class="notfound overflow-hidden">
        <div class="notfound-404">
            <h1>{{error.status}}</h1>
            <h2>{{message}}</h2>
            <p style="color: rgb(43, 42, 42);">{{error.stack}}</p>
        </div>
        <a href="/">Back to Home</a>
    </div>
</div>
@endsection


